[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Genymotion
GenericName=Android Emulator
GenericName[fr]=Emulateur Android
Icon=/home/dika/Downloads/genymotion/icons/genymotion-logo.png
Exec=/home/dika/Downloads/genymotion/genymotion
Categories=Development;Emulator;
